* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #9998ba, #8bb69b);
}

.container {
    width: 400px;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    color: #827fb3;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #a6a5c7;
    box-shadow: 0 0 8px rgba(148, 220, 194, 0.3);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #bfbedc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #a7a5c6;
}

p {
    margin-top: 20px;
    color: #555;
    font-size: 15px;
}

.register-btn {
    background: #10B981;
}

.register-btn:hover {
    background: #059669;
}

.back-btn {
    background: #6B7280;
}

.back-btn:hover {
    background: #4B5563;
}

a {
    text-decoration: none;
    color: #918ec2;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Mobile Responsive */
@media (max-width: 480px) {

    .container {
        width: 90%;
        padding: 25px;
    }

    h1 {
        font-size: 24px;
    }

    input,
    button {
        font-size: 15px;
    }
}