*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef2ff;
}

.container{
    width:90%;
    max-width:900px;
    margin:30px auto;
}

h1{
    text-align:center;
    color:#9c99cd;
    margin-bottom:30px;
}

.stats{
    display:flex;
    gap:20px;
}

.box{
    flex:1;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.box h2{
    font-size:40px;
    color:#eae7cc;
}

.box p{
    margin-top:10px;
}

.card{

    background:white;

    margin-top:20px;

    padding:20px;

    border-radius:10px;

    box-shadow:0 3px 10px rgba(0,0,0,.15);

    border-left:6px solid #dd8080;

}

.card h3{

    color:#EF4444;

    margin-bottom:10px;

}

.card p{

    margin:10px 0;

}

button{

    padding:12px 20px;

    background:#10B981;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

button:hover{

    background:#059669;

}

#logoutBtn{

    background:#EF4444;

    margin-top:30px;

}

#logoutBtn:hover{

    background:#DC2626;

}

hr{

    margin:30px 0;

}